@import "_constant";

.breadcrumb {
  li {
    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }

    &:not(:first-child):before {
      content: "\00BB";
      position: absolute;
      top: 0;
      left: -4px;
    }
  }
}