
.demo-btn {
  border-radius: unset;
  -webkit-transition: unset;
  -moz-transition: unset;
  -o-transition: unset;
  transition: unset;
  border: none;
  height: unset;
  padding: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.demo-btn-loader {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  border: 2px solid #FFFFFF;
  border-top-color: transparent !important;
  border-radius: 50%;
  animation: loading 0.6s infinite linear;
}

.demo-check-box {
  position: relative;
  width: 20px;
  height: 20px;
  span {
    position: absolute;
    top: -1px;
    left: 6px;
    content: '';
    width: 7px;
    height: 14px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent #FFFFFF #FFFFFF transparent;
    transform: rotate(42deg);
  }
}

.demo-radio-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
  }
}