@import "_constant";
@import "_mixins";

.text- {
  &left {
    text-align: left
  }

  &center {
    text-align: center
  }

  &right {
    text-align: right
  }

  &justify {
    text-align: justify
  }

  &ellipsis {
    @include text-ellipsis;
  }
}

.vertical- {
  &middle {
    vertical-align: middle;
  }

  &baseline {
    vertical-align: baseline;
  }

  &center {
    vertical-align: center;
  }

  &bottom {
    vertical-align: bottom;
  }

  &top {
    vertical-align: top;
  }
}

.font-italic {
  font-style: italic;
}

.lowercase {
  text-transform: lowercase
}

.capitalize {
  text-transform: capitalize
}

.uppercase {
  text-transform: uppercase
}

.small-caps {
  font-variant: small-caps;
}

.text-decoration- {
  &none {
    text-decoration: none;
  }

  &underline {
    text-decoration: underline;
  }

  &overline {
    text-decoration: overline;
  }

  &strike {
    text-decoration: line-through;
  }
}

.circle {
  border-radius: 50%;
}

.bor-radius- {
  &0 {
    border-radius: 0;
  }

  &1 {
    border-radius: 1px;
  }

  &2 {
    border-radius: 2px;
  }

  &3 {
    border-radius: 3px;
  }

  &4 {
    border-radius: 4px;
  }

  &5 {
    border-radius: 5px;
  }
}

.bor-width- {
  &1 {
    border-width: 1px;
  }

  &2 {
    border-width: 2px;
  }

  &3 {
    border-width: 3px;
  }

  &4 {
    border-width: 4px;
  }

  &5 {
    border-width: 5px;
  }
}

.font- {
  &normal {
    font-weight: normal;
  }

  &semi-bold {
    font-weight: 600;
  }

  &bold {
    font-weight: 700;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.static {
  position: static;
}

.cur- {
  &pointer {
    cursor: pointer;
  }

  &default {
    cursor: default;
  }

  &not-allowed {
    cursor: not-allowed;
  }
}

.f- {
  &left {
    float: left;
  }

  &right {
    float: right;
  }
}

.overflow- {
  &hidden {
    overflow: hidden;
  }

  &x-hidden {
    overflow-x: hidden;
  }

  &y-hidden {
    overflow-y: hidden;
  }

  &auto {
    overflow: auto;
  }

  &x-auto {
    overflow-x: auto;
  }

  &y-auto {
    overflow-y: auto;
  }
}

.height {
  &-100 {
    height: 100%;
  }
  &-auto{
    height: auto;
  }
}

.width {
  &-100 {
    width: 100%;
  }
  &-auto {
    width: auto;
  }
}

.no-wrap {
  white-space: nowrap;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
  display: none;
  speak: none
}

.show- {
  &inline {
    display: inline;
    speak: normal;

    &-block {
      display: inline-block;
      speak: normal;
    }
  }

  &block {
    display: block;
    speak: normal;
  }
}

.bor- {
  &none {
    border: none;
  }

  &transparent {
    border-color: transparent;
  }
}

.bg-none {
  background: none;
}

.opacity- {
  &0 {
    opacity: 0;
  }

  &half {
    opacity: 0.5;
  }

  &1 {
    opacity: 1;
  }
}

.pointer-events- {
  &none {
    pointer-events: none
  }

  &auto {
    pointer-events: auto
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.z-index- {
  &1 {
    z-index: 1;
  }

  &2 {
    z-index: 2;
  }

  &3 {
    z-index: 3;
  }

  &4 {
    z-index: 4;
  }

  &5 {
    z-index: 5;
  }
}

.text- {
  &left {
    text-align: left
  }

  &center {
    text-align: center
  }

  &right {
    text-align: right
  }

  &justify {
    text-align: justify
  }

  &ellipsis {
    @include text-ellipsis;
  }
}

.bor- {
  &0 {
    border-width: 0;
  }

  &tb-0 {
    border-top-width: 0;
    border-bottom-width: 0;
  }

  &lr-0 {
    border-left-width: 0;
    border-right-width: 0;
  }

  &t-0 {
    border-top-width: 0;
  }

  &r-0 {
    border-right-width: 0;
  }

  &b-0 {
    border-bottom-width: 0;
  }

  &l-0 {
    border-left-width: 0;
  }
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}


@include box-model(((0), (5), (10), (15), (20), (25), (30)), '');

@include small-up {
  @include box-model(((0), (5), (10), (15), (20), (25), (30)), 'sm');
}

@include medium-up {
  @include box-model(((0), (5), (10), (15), (20), (25), (30)), 'md');
}

@include large-up {
  @include box-model(((0), (5), (10), (15), (20), (25), (30)), 'lg');
}
