.container {
  width: 90%;
  max-width: 1600px;
}

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-column {
    flex-direction: column;
  }

  &-column-reverse {
    flex-direction: column-reverse;
  }
}

.flex-1 {
  flex: 1;
}

.flex-100 {
  flex: 0 0 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

/* Vertical Alignment for all flex items */
.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

/* alignment of flex lines */
.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-space-between {
  align-content: space-between;
}

.content-space-around {
  align-content: space-around;
}

.content-space-evenly {
  align-content: space-evenly;
}

.content-start {
  align-content: flex-start;
}

/*Vertical alignment to specific flex item*/
.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.self-baseline {
  align-self: baseline;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.order- {
  &first {
    order: -1;
  }

  &last {
    order: 1;
  }
}
