@import "_constant";
@import "_mixins";

@include large-up {
  .hidden-lg {
    display: none;
  }
  .flex-lg {
    display: flex;

    &-unset {
      display: block;
    }

    &-row {
      flex-direction: row;
    }

    &-row-reverse {
      flex-direction: row-reverse;
    }

    &-column {
      flex-direction: column;
    }

    &-column-reverse {
      flex-direction: column-reverse;
    }
  }

  .text-lg- {
    &left {
      text-align: left
    }

    &center {
      text-align: center
    }

    &right {
      text-align: right
    }

    &justify {
      text-align: justify
    }

    &ellipsis {
      @include text-ellipsis;
    }
  }
  .bor-lg- {
    &0 {
      border-width: 0;
    }

    &tb-0 {
      border-top-width: 0;
      border-bottom-width: 0;
    }

    &lr-0 {
      border-left-width: 0;
      border-right-width: 0;
    }

    &t-0 {
      border-top-width: 0;
    }

    &r-0 {
      border-right-width: 0;
    }

    &b-0 {
      border-bottom-width: 0;
    }

    &l-0 {
      border-left-width: 0;
    }
  }
}

@include large-down {
  .hidden-lg-down {
    display: none;
  }
  .flex-lg-down {
    display: flex;

    &-unset {
      display: block;
    }

    &-row {
      flex-direction: row;
    }

    &-row-reverse {
      flex-direction: row-reverse;
    }

    &-column {
      flex-direction: column;
    }

    &-column-reverse {
      flex-direction: column-reverse;
    }
  }
  .text-lg-down- {
    &left {
      text-align: left
    }

    &center {
      text-align: center
    }

    &right {
      text-align: right
    }

    &justify {
      text-align: justify
    }

    &ellipsis {
      @include text-ellipsis;
    }
  }
  .bor-lg-down- {
    &0 {
      border-width: 0;
    }

    &tb-0 {
      border-top-width: 0;
      border-bottom-width: 0;
    }

    &lr-0 {
      border-left-width: 0;
      border-right-width: 0;
    }

    &t-0 {
      border-top-width: 0;
    }

    &r-0 {
      border-right-width: 0;
    }

    &b-0 {
      border-bottom-width: 0;
    }

    &l-0 {
      border-left-width: 0;
    }
  }
}

@include medium-up {
  .hidden-md-up {
    display: none;
  }
  .flex-md-up {
    display: flex;

    &-unset {
      display: block;
    }

    &-row {
      flex-direction: row;
    }

    &-row-reverse {
      flex-direction: row-reverse;
    }

    &-column {
      flex-direction: column;
    }

    &-column-reverse {
      flex-direction: column-reverse;
    }
  }
  .text-md-up- {
    &left {
      text-align: left
    }

    &center {
      text-align: center
    }

    &right {
      text-align: right
    }

    &justify {
      text-align: justify
    }

    &ellipsis {
      @include text-ellipsis;
    }
  }
  .bor-md-up- {
    &0 {
      border-width: 0;
    }

    &tb-0 {
      border-top-width: 0;
      border-bottom-width: 0;
    }

    &lr-0 {
      border-left-width: 0;
      border-right-width: 0;
    }

    &t-0 {
      border-top-width: 0;
    }

    &r-0 {
      border-right-width: 0;
    }

    &b-0 {
      border-bottom-width: 0;
    }

    &l-0 {
      border-left-width: 0;
    }
  }
}

@include medium-only {
  .hidden-md {
    display: none;
  }
  .flex-md {
    display: flex;

    &-unset {
      display: block;
    }

    &-row {
      flex-direction: row;
    }

    &-row-reverse {
      flex-direction: row-reverse;
    }

    &-column {
      flex-direction: column;
    }

    &-column-reverse {
      flex-direction: column-reverse;
    }
  }
  .text-md- {
    &left {
      text-align: left
    }

    &center {
      text-align: center
    }

    &right {
      text-align: right
    }

    &justify {
      text-align: justify
    }

    &ellipsis {
      @include text-ellipsis;
    }
  }
  .bor-md- {
    &0 {
      border-width: 0;
    }

    &tb-0 {
      border-top-width: 0;
      border-bottom-width: 0;
    }

    &lr-0 {
      border-left-width: 0;
      border-right-width: 0;
    }

    &t-0 {
      border-top-width: 0;
    }

    &r-0 {
      border-right-width: 0;
    }

    &b-0 {
      border-bottom-width: 0;
    }

    &l-0 {
      border-left-width: 0;
    }
  }
}

@include medium-down {
  .hidden-md-down {
    display: none;
  }
  .flex-md-down {
    display: flex;

    &-unset {
      display: block;
    }

    &-row {
      flex-direction: row;
    }

    &-row-reverse {
      flex-direction: row-reverse;
    }

    &-column {
      flex-direction: column;
    }

    &-column-reverse {
      flex-direction: column-reverse;
    }
  }
  .text-md-down- {
    &left {
      text-align: left
    }

    &center {
      text-align: center
    }

    &right {
      text-align: right
    }

    &justify {
      text-align: justify
    }

    &ellipsis {
      @include text-ellipsis;
    }
  }
  .bor-md-down- {
    &0 {
      border-width: 0;
    }

    &tb-0 {
      border-top-width: 0;
      border-bottom-width: 0;
    }

    &lr-0 {
      border-left-width: 0;
      border-right-width: 0;
    }

    &t-0 {
      border-top-width: 0;
    }

    &r-0 {
      border-right-width: 0;
    }

    &b-0 {
      border-bottom-width: 0;
    }

    &l-0 {
      border-left-width: 0;
    }
  }
}

@include small-only {
  .hidden-sm {
    display: none;
  }
  .flex-sm {
    display: flex;

    &-unset {
      display: block;
    }

    &-row {
      flex-direction: row;
    }

    &-row-reverse {
      flex-direction: row-reverse;
    }

    &-column {
      flex-direction: column;
    }

    &-column-reverse {
      flex-direction: column-reverse;
    }
  }
  .text-sm- {
    &left {
      text-align: left
    }

    &center {
      text-align: center
    }

    &right {
      text-align: right
    }

    &justify {
      text-align: justify
    }

    &ellipsis {
      @include text-ellipsis;
    }
  }
  .bor-sm- {
    &0 {
      border-width: 0;
    }

    &tb-0 {
      border-top-width: 0;
      border-bottom-width: 0;
    }

    &lr-0 {
      border-left-width: 0;
      border-right-width: 0;
    }

    &t-0 {
      border-top-width: 0;
    }

    &r-0 {
      border-right-width: 0;
    }

    &b-0 {
      border-bottom-width: 0;
    }

    &l-0 {
      border-left-width: 0;
    }
  }
}

@include small-up {
  .hidden-sm-up {
    display: none;
  }
  .flex-sm-up {
    display: flex;

    &-unset {
      display: block;
    }

    &-row {
      flex-direction: row;
    }

    &-row-reverse {
      flex-direction: row-reverse;
    }

    &-column {
      flex-direction: column;
    }

    &-column-reverse {
      flex-direction: column-reverse;
    }
  }
  .text-sm-up {
    &left {
      text-align: left
    }

    &center {
      text-align: center
    }

    &right {
      text-align: right
    }

    &justify {
      text-align: justify
    }

    &ellipsis {
      @include text-ellipsis;
    }
  }
  .bor-sm-up- {
    &0 {
      border-width: 0;
    }

    &tb-0 {
      border-top-width: 0;
      border-bottom-width: 0;
    }

    &lr-0 {
      border-left-width: 0;
      border-right-width: 0;
    }

    &t-0 {
      border-top-width: 0;
    }

    &r-0 {
      border-right-width: 0;
    }

    &b-0 {
      border-bottom-width: 0;
    }

    &l-0 {
      border-left-width: 0;
    }
  }
}

@include extra-small-only {
  .hidden-xs {
    display: none;
  }

  .flex-xs {
    display: flex;

    &-unset {
      display: block;
    }

    &-row {
      flex-direction: row;
    }

    &-row-reverse {
      flex-direction: row-reverse;
    }

    &-column {
      flex-direction: column;
    }

    &-column-reverse {
      flex-direction: column-reverse;
    }
  }

  .modal .modal-content {
    min-width: 100%;
  }
}