@import "_constant";
@import "_mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: $black;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  background-color: transparent;

  &:active {
    outline: 0;
  }

  &:hover {
    outline: 0;
  }
}

b, strong {
  font-weight: bold;
}

img {
  border: 0
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button,
input, select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  touch-action: manipulation;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea {
  resize: none;
  overflow: auto
}

button, input[type="button"] {
  cursor: pointer;
  overflow: visible
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;

  &::-ms-clear {
    display: none;
  }

  @include input-placeholder {
    color: $gray;
  }
}

select:invalid {
  color: $gray;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
}


input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    position: relative;
    right: -10px
  }

  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button, &::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
    margin: 0;
  }
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;

  &::-webkit-search-cancel-button, &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

pre {
  margin: 0;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

[role=button],a,area,button,input,label,select,summary,textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation
}

[disabled] {
  opacity: 0.5;
}
