@import "_constant";
@import "_mixins";

.spinner {
  border-width: 3px;
  @include animation(loading 0.7s infinite linear);
  &.small {
    height: 30px;
    width: 30px;
  }

  &.medium {
    height: 60px;
    width: 60px;
  }

  &.large {
    height: 90px;
    width: 90px;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}