@import "_constant";
@import "_mixins";

.stepper {
  &:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    border-top: 1px solid $gray-light;
    top: 35px;
    left: 0;
  }

  .stepper-item {
    height: 30px;
    width: 30px;
    padding-top: 4px;
    @include transition(all ease 0.4s)
  }
}