@import "_constant";
@import "_mixins";

.tooltip {
  &:hover {
    &:before, &:after {
      position: absolute;
      z-index: 100;
    }

    &:after {
      background: $gray-darker;
      border-radius: 4px;
      color: $white;
      content: attr(data-tooltip);
      font-size: 14px;
      padding: 10px;
      min-width: 200px;
    }

    &:before {
      content: '';
      border: 6px solid transparent;
    }
  }
}

@include tooltip('')

@include small-up {
  @include tooltip('sm')
}

@include medium-up {
  @include tooltip('md')
}

@include large-up {
  @include tooltip('lg')
}



