@import "_constant";
@import "_mixins";

:global(#app) {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 45px;
  font-size: 25px;
  opacity: 0;
  @include transition(opacity 0.5s ease);
}

.brand {
  width: 191px;
  height: 36px;
  opacity: 1;
  @include transition(all 0.5s ease);
  transition-property: width, opacity;
}

.side-bar, .side-bar.side-nav-toggle:hover  {
  width: 255px;
  @include transition(width 0.5s ease);
  li a span:last-child, li > div > div > span:last-child {
    opacity: 1;
    @include transition(opacity 0.5s ease);
  }
  .sub-navigation {
    display: block;
  }
}

.side-nav-toggle {
  .logo {
    opacity: 1;
  }

  .brand {
    width: 0;
    opacity: 0;
  }

  &.side-bar {
    width: 45px;

    li a span:last-child, li > div > div > span:last-child {
      opacity: 0;
    }

    .sub-navigation {
      display: none;
    }
  }
}

.sub-navigation {
  max-height: 0;
  @include transition(max-height ease 0.5s);

  &.open {
    max-height: 400px;
  }
}

.sample-color-box {
  height: 100px;
  width: 100px;
  box-shadow: 0 0 5px 0 #cccccc;
}

//demo css
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashboard {
  max-width: 800px;
  width: 90%;
}

.dash-icon {
  border: 5px solid $white;
  border-radius: 4px;
}

.dash-item {
  cursor: pointer;
  transition: all linear 0.1s;
  &:hover {
    background-color: $danger;
    color: $white;
    .fa {
      color: $white;
    }
  }
}

.config-text-area {
  textarea.input-control {
    height: 500px;
    background-color: $gray-lighter;
  }
}

@include extra-small-only {
  .logo {
    opacity: 1;
  }
  .brand {
    width: 0;
    opacity: 0;
  }
  .side-bar {
    width: 0;
  }
}

